/* global vars */
@font-face {
  font-family: segoeboot;
  src: url(segoe_slboot.ttf);
}

:root {
    --BGcolour: black;
    --TextColour: white;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    user-select: none;
    background-color: var(--BGcolour);
    color: var(--TextColour);
    cursor: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    padding: 0;
    margin: 2px;
    font-weight: 50;
    font-size: 15px;
    mix-blend-mode: difference;
}

.spinner{
    font-family: segoeboot;
    font-size: 50px;
    margin-bottom: 15px;
    mix-blend-mode: difference;
}
